<h3 class="mt-3 h3AddEdit">Añadir Empresa</h3>
<div class="container">
  <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany()">
    <div class="mb-3">
      <label for="name" class="col-4 col-form-label">Nombre</label>
      <div class="col-8">
        <input type="text" formControlName="name" class="form-control" name="name" id="name" placeholder="Nombre">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('name')?.invalid && addCompanyForm.get('name')?.touched">
          El <strong>nombre es</strong> requerido
        </span>
      </div>
    </div>
    <div class="mb-3">
      <label for="sector" class="col-4 col-form-label">Sector</label>
      <div class="col-8">
        <input type="text" formControlName="sector" class="form-control" name="sector" id="sector" placeholder="Sector">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('sector')?.invalid && addCompanyForm.get('sector')?.touched">
          El <strong>sector es</strong> requerido
        </span>
      </div>
    </div>
    <div class="mb-3">
      <label for="distrito" class="col-4 col-form-label">Distrito</label>
      <div class="col-8">
        <input type="text" formControlName="distrito" class="form-control" name="distrito" id="distrito"
          placeholder="Distrito">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('distrito')?.invalid && addCompanyForm.get('distrito')?.touched">
          El <strong>distrito </strong>es requerido
        </span>
      </div>
    </div>
    <div class="mb-3">
      <label for="poligono" class="col-4 col-form-label">Polígono</label>
      <div class="col-8">
        <input type="text" formControlName="poligono" class="form-control" name="poligono" id="poligono"
          placeholder="Polígono">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('poligono')?.invalid && addCompanyForm.get('poligono')?.touched">
          El <strong>polígono </strong>es requerido
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label for="email" class="col-4 col-form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" name="email" id="email" placeholder="Email">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('email')?.invalid && addCompanyForm.get('email')?.touched">
          El <strong>email es </strong>requerido
        </span>
      </div>
      <div class="col-lg-4">
        <label for="telefono" class="col-4 col-form-label">Teléfono</label>
        <input type="text" formControlName="telefono" class="form-control" name="telefono" id="telefono"
          placeholder="Teléfono">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('telefono')?.invalid && addCompanyForm.get('telefono')?.touched">
          El <strong>teléfono </strong>es requerido
        </span>
      </div>
    </div>
    <div class="mb-3">
      <label for="direccion" class="col-4 col-form-label">Dirección</label>
      <div class="col-8">
        <input type="text" formControlName="direccion" class="form-control" name="direccion" id="direccion"
          placeholder="Dirección">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('direccion')?.invalid && addCompanyForm.get('direccion')?.touched">
          La <strong>direccion</strong> es requerida
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <label for="localidad" class="col-4 col-form-label">Localidad</label>
        <input type="localidad" formControlName="localidad" class="form-control" name="localidad" id="localidad"
          placeholder="Móstoles">
      </div>
      <div class="col-lg-4">
        <label for="provincia" class="col-4 col-form-label">Provincia</label>
        <input type="text" formControlName="provincia" class="form-control" name="provincia" id="provincia"
          placeholder="Madrid">
      </div>
      <div class="col-lg-4">
        <label for="cod_postal" class="col-4 col-form-label">Código postal</label>
        <input type="cod_postal" formControlName="cod_postal" class="form-control" name="cod_postal" id="cod_postal"
          placeholder="Código postal">
        <span class="err text-danger"
          *ngIf="addCompanyForm.get('cod_postal')?.invalid && addCompanyForm.get('cod_postal')?.touched">
          El <strong>Código postal</strong> es requerido
        </span>
      </div>
    </div>
    <div class="mb-3">
      <div class="offset-sm-2 col-sm-8">
        <button type="submit" [disabled]="addCompanyForm.invalid" class="btn btn-primary m-5">Guardar</button>
        <button routerLink="/" type="button" class="btn btn-secondary">Volver</button>
      </div>
    </div>
  </form>
</div>
